nifi/historical_data.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Proceso de inserción cada 30 minutos y de eliminado cada 24 h</description>
    <groupId>73bad5bb-0183-1000-1337-8c6e37a85d32</groupId>
    <name>Santander-definitiva</name>
    <snippet>
        <connections>
            <id>0b573c86-578c-3078-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>a9ec1a4e-6e80-375b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>5eb724ca-c6cb-3631-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>27d5fc12-ebef-34d1-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>b51a017a-3da2-3c1c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>1ecbb7db-c016-345d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>70806cb5-2668-3701-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>59ef75fb-54cf-3986-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>b51a017a-3da2-3c1c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7b1c0d78-1aac-3e03-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>1ecbb7db-c016-345d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>a9ec1a4e-6e80-375b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>979c8286-0755-3b2a-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>d2c4ed2f-50c1-32d6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>59ef75fb-54cf-3986-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c146a360-1017-3fcb-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>2a3aa59d-668d-3255-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>38c6aac0-b711-368d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cb3518a7-f12e-361a-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>32484aea-4e00-3b29-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>48fda9e3-d9da-3cca-0000-000000000000</groupId>
                <id>d2c4ed2f-50c1-32d6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>1ecbb7db-c016-345d-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>537.0056915283203</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.resources.*</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>2a3aa59d-668d-3255-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>1394.0</x>
                <y>521.9971542358398</y>
            </position>
            <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mongo-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                            <name>mongo-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>
                            <name>Mongo URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>
                            <name>Mongo Database Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>
                            <name>Mongo Collection Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl-context-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>
                            <name>ssl-client-auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>delete-mongo-delete-mode</key>
                        <value>
                            <name>delete-mongo-delete-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>delete-mongo-fail-on-no-delete</key>
                        <value>
                            <name>delete-mongo-fail-on-no-delete</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>
                            <name>Write Concern</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mongo-client-service</key>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>mongodb://mongo-historical:27017</value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>bikes_santander</value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>historical</value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>delete-mongo-delete-mode</key>
                        <value>many</value>
                    </entry>
                    <entry>
                        <key>delete-mongo-fail-on-no-delete</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>ACKNOWLEDGED</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DeleteMongo</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.mongodb.DeleteMongo</type>
        </processors>
        <processors>
            <id>32484aea-4e00-3b29-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>1375.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mongo-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                            <name>mongo-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>
                            <name>Mongo URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>
                            <name>Mongo Database Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>
                            <name>Mongo Collection Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl-context-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>
                            <name>ssl-client-auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>
                            <name>Upsert</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                        <value>
                            <name>Update Query Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                        <value>
                            <name>putmongo-update-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>
                            <name>put-mongo-update-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>
                            <name>Write Concern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mongo-client-service</key>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>mongodb://mongo-historical:27017</value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>bikes_santander</value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>${collection}</value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>update</value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                        <value>update_date</value>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>doc</value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>ACKNOWLEDGED</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMongo</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
        </processors>
        <processors>
            <id>38c6aac0-b711-368d-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>1391.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>{"update_date" : { $lt : '${now():toNumber():minus(86400000):format("yyyy-MM-dd'T'HH:mm:ss'Z'", "CET")}' } }</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>86400 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>59ef75fb-54cf-3986-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>258.00284576416016</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>update_date</key>
                        <value>
                            <name>update_date</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>update_date</key>
                        <value>${update_date:toDate("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT"):format("yyyy-MM-dd'T'HH:mm:ss", "CET")}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>5eb724ca-c6cb-3631-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>49.00569152832031</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://datos.santander.es/api/rest/datasets/tusbic_puestos_libres.json?items=17</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>a9ec1a4e-6e80-375b-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>289.0056915283203</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>collection</key>
                        <value>
                            <name>collection</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>collection</key>
                        <value>historical</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>b51a017a-3da2-3c1c-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>537.0056915283203</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>update_date</key>
                        <value>
                            <name>update_date</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>update_date</key>
                        <value>$.dc:modified</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>d2c4ed2f-50c1-32d6-0000-000000000000</id>
            <parentGroupId>48fda9e3-d9da-3cca-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>2.0028457641601562</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>jolt-transform</key>
                        <value>
                            <name>jolt-transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                        <value>
                            <name>jolt-custom-class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                        <value>
                            <name>jolt-custom-modules</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>
                            <name>jolt-spec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>
                            <name>Transform Cache Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>
                            <name>pretty_print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-chain</value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>[
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      "update_date": "${update_date}"
    }
  }
]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>JoltTransformJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
    </snippet>
    <timestamp>09/25/2022 08:56:18 UTC</timestamp>
</template>
